#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'retro_computer';
  src: local('retro_computer'), url('./fonts/retro_computer.ttf') format('truetype');
}

@font-face {
  font-family: 'retro_04B_30';
  src: local('retro_04B_30'), url('./fonts/04B_30__.ttf') format('truetype');
}
